.App {
  color:steelblue;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  border: 5px solid skyblue;
  border-radius: 8px;
  position: relative;

}




